<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card mb-4 text-white bg-primary">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                <div class="fs-4 fw-semibold">26K <span class="fs-6 fw-normal">(-12.4%
                    <svg class="icon">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom"></use>
                    </svg>)</span></div>
                <div>Users</div>
                </div>
                <div class="dropdown">
                <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
            </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card mb-4 text-white bg-info">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                <div class="fs-4 fw-semibold">$6.200 <span class="fs-6 fw-normal">(40.9%
                    <svg class="icon">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-top"></use>
                    </svg>)</span></div>
                <div>Income</div>
                </div>
                <div class="dropdown">
                <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card mb-4 text-white bg-warning">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                <div class="fs-4 fw-semibold">2.49% <span class="fs-6 fw-normal">(84.7%
                    <svg class="icon">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-top"></use>
                    </svg>)</span></div>
                <div>Conversion Rate</div>
                </div>
                <div class="dropdown">
                <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-danger">
        <div class="card-body pb-0 d-flex justify-content-between align-items-start">
            <div>
            <div class="fs-4 fw-semibold">44K <span class="fs-6 fw-normal">(-23.6%
                <svg class="icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-arrow-bottom"></use>
                </svg>)</span></div>
            <div>Sessions</div>
            </div>
            <div class="dropdown">
            <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                </svg>
            </button>
            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
            </div>
        </div>
        <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas class="chart" id="card-chart4" height="70"></canvas>
        </div>
        </div>
        </div>
        <!-- /.col-->
    </div>
    <!-- /.row-->
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="card-title mb-0">Traffic</h4>
          <div class="small text-medium-emphasis">January - July 2022</div>
        </div>
        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
          <div class="btn-group btn-group-toggle mx-3" data-coreui-toggle="buttons">
            <input class="btn-check" id="option1" type="radio" name="options" autocomplete="off">
            <label class="btn btn-outline-secondary"> Day</label>
            <input class="btn-check" id="option2" type="radio" name="options" autocomplete="off" checked="">
            <label class="btn btn-outline-secondary active"> Month</label>
            <input class="btn-check" id="option3" type="radio" name="options" autocomplete="off">
            <label class="btn btn-outline-secondary"> Year</label>
          </div>
          <button class="btn btn-primary" type="button">
            <svg class="icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas class="chart" id="main-chart" height="300"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row row-cols-1 row-cols-md-5 text-center">
        <div class="col mb-sm-2 mb-0">
          <div class="text-medium-emphasis">Visits</div>
          <div class="fw-semibold">29.703 Users (40%)</div>
          <div class="progress progress-thin mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col mb-sm-2 mb-0">
          <div class="text-medium-emphasis">Unique</div>
          <div class="fw-semibold">24.093 Users (20%)</div>
          <div class="progress progress-thin mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col mb-sm-2 mb-0">
          <div class="text-medium-emphasis">Pageviews</div>
          <div class="fw-semibold">78.706 Views (60%)</div>
          <div class="progress progress-thin mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col mb-sm-2 mb-0">
          <div class="text-medium-emphasis">New Users</div>
          <div class="fw-semibold">22.123 Users (80%)</div>
          <div class="progress progress-thin mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col mb-sm-2 mb-0">
          <div class="text-medium-emphasis">Bounce Rate</div>
          <div class="fw-semibold">40.15%</div>
          <div class="progress progress-thin mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card.mb-4-->

        <div class="col-lg-8">
            <!-- Overflow Hidden -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Time history of the book</h6>
                </div>
                <div class="card shadow mt-3">
                    <div class="card-header">
                        <div class="row g3 mb-3">
                            <div class="col">User</div>
                            <div class="col">Time</div>
                            <div class="col">Date</div>
                        </div>
                    </div>
                    <div>
                        <div class="test"><%= render @book_times %></div>
                        <div id="book_times"></div>
                    </div>
                </div>
            </div>

            <!-- Progress Small -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Mark Sheet</h6>
                </div>
                <div class="card-body">
                    <div class="mb-1 small">Normal Progress Bar</div>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 75%"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="mb-1 small">Small Progress Bar</div>
                    <div class="progress progress-sm mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 75%"
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    Use the <code>.progress-sm</code> class along with <code>.progress</code>
                </div>
            </div>

            <!-- Dropdown No Arrow -->
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Dropdown - No Arrow</h6>
                </div>
                <div class="card-body">
                    <div class="dropdown no-arrow mb-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Dropdown (no arrow)
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    Add the <code>.no-arrow</code> class alongside the <code>.dropdown</code>
                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <!-- Roitation Utilities -->
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Book detail</h6>
                </div>
                <div class="card-body">
                    <div class="">
                        <p><%= @book.name %></p>
                        <p><%= @book&.category&.name %></p>
                        <p><%= @book.section&.name %></p>
                    </div>
                    <hr>
                    <div class="card-body row justify-content-between">
                        <%= link_to "マークシート作成", books_path, class: "text-center col-6 btn btn-primary py-3", style: "width: 49%;", data: { turbo_frame: "modal" }  %>
                        <%= link_to "マークシート編集", books_path, class: "text-center col-6 btn btn-primary py-3", style: "width: 49%;", data: { turbo_frame: "modal" }  %>
                        <%= link_to "タイム記録", new_book_time_path(book: @book), class: "text-center col-6 btn btn-primary py-3 mt-2", style: "width: 49%;", data: { turbo_frame: "modal" }  %>
                        <%= link_to "タイム編集", books_path, class: "text-center col-6 btn btn-primary py-3 mt-2", style: "width: 49%;", data: { turbo_frame: "modal" }  %>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
